<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- <bean id="userservice" class="service.impl.UserServiceImpl"></bean> -->
 	<context:component-scan base-package="service"></context:component-scan>
 	<!-- 创建管理连接  提供连接池-->
 	<context:property-placeholder location="classpath:jdbc.properties"/>
 	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 		<!-- 四个参数 -->
 				<property name="driverClassName" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${password}"/>
 	</bean>
 	<!-- SqlSessionFactory -->
 	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean">
 		<!-- 连接池 -->
 				<property name="configLocation" value="classpath:mybatis.xml"/>
				<property name="dataSource" ref="ds"/>
 	</bean>
 	<!-- 创建mapper   1、单个创建mapper  2、批量创建 -->
 	<bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 		<property name="sqlSessionFactoryBeanName" value="ssf"></property>
 		<property name="basePackage" value="mapper"></property>
 	</bean>
 	<!-- 事务管理       -->
 		<!-- 事务管理器 -->
 		<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
 			<property name="dataSource" ref="ds"></property>
 		</bean>
 		<!-- 事务策略 -->
 		<tx:advice id="txAdvice" transaction-manager="txManager">
 			<tx:attributes>
 				<tx:method name="insert*" propagation="REQUIRED"/>
 				<tx:method name="query*" read-only="true"/>
 				<tx:method name="updata*" propagation="REQUIRED"/>
 				<tx:method name="delete*" propagation="REQUIRED"/>
 			</tx:attributes>
 		</tx:advice>
 		<!--  织入事务   （声明事务） -->
 		<aop:config>
 			<aop:pointcut expression="execution(* service..*(..))" id="myPointCut"/>
 			<aop:advisor advice-ref="txAdvice" pointcut-ref="myPointCut"/>
 		</aop:config>
 </beans>